name: SlowMo_Sync Android CI

on:
  push:
    branches: [ V1 ]
  pull_request:
    branches: [ V1 ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
           java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
          # Artifact name
          name: SlowMo_Sync
          path: app/outputs/apk/debug/app-debug.apk
    - name: Send email
      uses: dawidd6/action-send-mail@v2.5.0
      with:
          # SMTP server address
          server_address: mail.hitzbakery.com
          # SMTP server port
          server_port: 465
          # Authenticate as this user to SMTP server
          username: info@hitzbakery.com
          # Authenticate with this password to SMTP server
          password: RNIG6TAAMOnE
          # Subject of mail message
          subject: Test  
          # Body of mail message (might be a filename prefixed with file:// to read from)
          body: this is a test for build success.
          # Recipients mail addresses (separated with comma)
          to: lirielgozi@gmail.com
          # Full name of mail sender (might be with an email address specified in <>)
          from: info<info@hitzbakery.com.
  
