name: SlowMo_Sync Android CI

on:
  push:
    branches: [ V1 ]
  pull_request:
    branches: [ V1 ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
           java-version: 1.8
   
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
   
    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Run simple Unit Tests
      id: tests
      run: ./gradlew test

    - name: Sign artifact
      id: signArtifact
      uses: r0adkll/sign-android-release@v1.0.1
      with:
        releaseDirectory:  app/build/outputs/apk/release
        alias: ${{ secrets.KEYALIAS }}
        signingKeyBase64: ${{ secrets.KEYSTORE }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
 
    - name: Upload APK
      uses: actions/upload-artifact@v2.2.0
      with:
       name: Release artifact
       path: app/build/outputs/apk/release/app-release.apk
       
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
       tag_name: ${{ github.ref }}
       release_name: Release ${{ github.ref }}
       draft: false
       prerelease: false
    - name: Save name of Artifact
      id: set-result-artifact
      run: |
       ARTIFACT_PATHNAME_APK=$(ls  app/build/outputs/apk/release/*.apk | head -n 1)
       ARTIFACT_NAME_APK=$(basename $ARTIFACT_PATHNAME_APK)
       echo "ARTIFACT_NAME_APK is " ${ARTIFACT_NAME_APK}
       echo "ARTIFACT_PATHNAME_APK=${ARTIFACT_PATHNAME_APK}" >> $GITHUB_ENV
       echo "ARTIFACT_NAME_APK=${ARTIFACT_NAME_APK}" >> $GITHUB_ENV
